.welcome-container{
  display: flex;
  flex-direction: column;
  
}
.welcome-img{
  width: 50%;
  margin-top:2%; 
}

.welcome-title {
  font-family: 'Lobster', cursive;
  text-decoration: solid;
  font-size: 5rem;
  margin: 0;
}

.click-me:hover{
  transform:scale(1.2);
  color:aliceblue;
}
.click-me{
  margin-top: 2%;
  color: var(--clr-lightblue);
}
.welcome-description{
  font-weight: bold;
  font-size: 1.8rem;
}