.random-section {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.random-rest-container {
  background-color: antiquewhite;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  border-radius: 10px;
  height: 65%;
  margin: 5%;
}

.random-img-container {
  width: 95%;
}

.random-img {
  height: 100%;
  width: 100%;
  border-radius: 10%;
  margin-top: 5%;
  margin-bottom: 5%;
}
.random-name{
  margin-top: 4%;
  margin-bottom: 2%;
}
.ballon{
  height: auto;
  width: 30%;
  position: relative;
 
}