 .card-containers{
  display: flex;
  height: 25rem;
  width: 15rem;
  contain: content;
 }
 
 .card{
  display: flex;
  flex-direction: column;
  /* height: 50vh;
  width: 30%; */
  border: solid 10px var(--clr-lightgray);
  margin: 4px;
  background-color: var(--clr-lightgray);
  border-radius: 5%;
}

.img-container{
  width:100%;
  height: auto;
  border-radius: 5%;
  border: 5px solid var(--clr-purple);
}
.card-img{
  width: 100%;
  height:auto; 
  margin:0;
}
.description{
  display: flex;
  font-size: 1rem;
  align-items: baseline;
  color: var(--clr-purple);
  font-family: 'Lobster', cursive;
  margin:0; 
  margin: 1%;

}
.card-name{
  margin: 0; 
  color: var(--clr-background);
}
