 .card-containers{
  display: flex;
  height: 25rem;
  width: 15rem;
 }
 
 
 
 .card{
  display: flex;
  flex-direction: column;
  /* height: 50vh;
  width: 30%; */
  border: solid 10px var(--clr-lightgray);
  margin: 4px;
  background-color: var(--clr-lightgray);
  border-radius: 5%;
}

.img-container{
  width:100%;
  height: auto;
  border-radius: 5%;
}
.card-img{
  width: 100%;
  height:auto; 
  border-radius: 5%;
}
.description{
  display: flex;
  font-size: .6rem;
  align-items: baseline;
  color: var(--clr-purple);

}
.card-name{
  margin: 0; 
  color: var(--clr-background);
}
