@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');


.nav-container {
  margin-bottom: 2%;
  height: 25%;
}

.nav-title {
  font-family: 'Lobster', cursive;
  text-decoration: solid;
  font-size: 3rem;
  margin: 0;
  animation: text-flicker 2s blue linear-infinite;

}

.snoopy {
  height: auto;
  width: 20%;
  margin-bottom: 0;
}

.nav-button {
  background: var(--clr-lightblue);
  color: black;
  margin: .6%;
  border-radius: 10%;
  contain: content;
  font-family: 'Lobster', cursive;
  font-size: 1.3rem;
  text-decoration: underline;
}

.nav-button:hover {
  box-shadow: 2px 2px 2px var(--clr-lightblue);
}